@use "variables" as v;
@use "functions" as f;

@mixin card-style {
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: white;
}

@mixin respond-to($breakpoint) {
    $bp-sm: map-get(v.$breakpoints, "sm");
    $bp-md: map-get(v.$breakpoints, "md");
    $bp-lg: map-get(v.$breakpoints, "lg");

    @if $breakpoint =="sm" {
        @media (max-width: #{$bp-sm}) {
            @content;
        }
    }

    @else if $breakpoint =="md" {
        @media (min-width: #{$bp-sm + 1}) and (max-width: #{$bp-md}) {
            @content;
        }
    }

    @else if $breakpoint =="lg" {
        @media (min-width: #{$bp-lg}) {
            @content;
        }
    }
}

%btn-base {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

@each $name, $color in v.$theme-colors {
    .btn-#{$name} {
        @extend %btn-base;
        background-color: $color;

        &:hover {
            background-color: f.adjust-color-weight($color, -25%);
        }
    }
}