@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$color-fondo: #f5f5f5;
$color-texto: #333;
$color-destacado: #007bff;

$fuente-principal: "Roboto", sans-serif;
$fuente-secundaria: "Arial", sans-serif;

$theme-colors: (
    "primary": $color-destacado,
    "secondary": #6c757d,
    "success": #28a745
);

$breakpoints: (
    "sm": 767px,
    "md": 1023px,
    "lg": 1024px
);